body {
  background: url('Kabah.jpg') no-repeat center center fixed;
  background-size: cover;
  animation: zoom 30s ease-in-out infinite;
}

@keyframes zoom {
  0%, 100% { background-size: 100% 100%; }
  50% { background-size: 105% 105%; }
}
